# Python
__pycache__/
*.py[cod]

# Virtual env
.venv/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# pytest cache
.pytest_cache/

# Data (do not commit large datasets)
data/raw/*
data/normalized/*

# keep folder structure
!data/raw/.gitkeep
!data/normalized/.gitkeep

# allow demo dataset (used by API + frontend out-of-the-box)
!data/normalized/BTCUSDT_1h.csv