# Python
__pycache__/
*.py[cod]

# Virtual env
.venv/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# pytest cache
.pytest_cache/

# Data (do not commit large datasets)
data/raw/*
data/normalized/*
!data/raw/.gitkeep
!data/normalized/.gitkeep
